---
import SharedHomeLayout from '../layouts/SharedHomeLayout.astro';
import { siteConfig } from '../site-config.ts';
import JsonLdHomePageBase from '../components/JsonLdHomePageBase.astro';

const { bodyClass = '', bodyStyle = '' } = Astro.props;
---

<SharedHomeLayout
    themeToggleDisable={true}
    bodyClass={`${bodyClass} leading-normal tracking-normal antialiased`}
    bodyStyle={`${bodyStyle} font-family: 'Source Sans Pro', sans-serif;`}
    canonicalConf={siteConfig.site.canonical}
    faviconPathFromConf={siteConfig.site.faviconPath}
    seoFromConf={siteConfig.homePageConfig.seo}
    titleFromConf={siteConfig.homePageConfig.seo.title}
    descriptionFromConf={siteConfig.homePageConfig.seo.description}
    authorNameFromConf={siteConfig.site.authorName}
    imageFromConf={null}
    imageUrlFromConf={siteConfig.site.primaryImage.url}
    imageCaptionFromConf={siteConfig.site.primaryImage.imageCaption}
    imageWidthFromConf={siteConfig.site.primaryImage.imageWidth}
    imageHeightFromConf={siteConfig.site.primaryImage.imageHeight}
>
    <!-- Additional head content specific to this layout -->
    <Fragment slot="head">
        <link rel="preload" href="/assets/fonts/bricolage.woff2" as="font" type="font/woff2" crossorigin>
        <JsonLdHomePageBase
            faqList={[]}
            servicesList={[]}
            reviewsList={[]}
            disableReviews={false}
        />
    </Fragment>

    <!-- Body content -->

<!-- <div class="bg-white" style="margin: 6px;">
    <video id="plane-bg" autoplay muted loop playsinline>
        <source src="assets/videos/plane-loop-safari.mov" type="video/quicktime">
    </video>
</div> -->

<!-- <video id="plane-bg" autoplay muted loop playsinline>
    <source src="assets/videos/plane-loop-safari.mov" type="video/quicktime">
</video> -->

<div style="position: relative; width: 100%; height: auto; background: transparent;">
    <video id="plane-bg" autoplay muted loop playsinline style="position: absolute; top:0; left:0; width:100%; height:100%; background: transparent;">
        <source src="assets/videos/plane-loop-safari.mov" type="video/quicktime">
    </video>
</div>



    
</SharedHomeLayout>
