---
// FastVistos main homepage
import SharedHomeLayout from '../layouts/SharedHomeLayout.astro';
import { siteConfig } from '../site-config.ts';
import { faqData } from '../config/faqConfig.js';
import { servicesData } from '../config/servicesConfig.js';
import { reviewVideos } from '../config/reviewVideosConfig.js';
import JsonLdHomePageBase from '../components/JsonLdHomePageBase.astro';

const { bodyClass = '', bodyStyle = '' } = Astro.props;
---

<SharedHomeLayout
    bodyClass={`${bodyClass} leading-normal tracking-normal text-white antialiased`}
    bodyStyle={`${bodyStyle} font-family: 'Source Sans Pro', sans-serif;`}
>
    <!-- Additional head content specific to this layout -->
    <Fragment slot="head">
        <JsonLdHomePageBase
            site={siteConfig.site}
            faqList={faqData}
            servicesList={servicesData}
            reviewsList={reviewVideos}
            disableReviews={false}
        />
    </Fragment>

    <!-- Body content -->
    <main>
        <h1 class="text-black">Welcome to {siteConfig.site.name}</h1>
    </main>
</SharedHomeLayout>

<style is:global></style>
